body {
  background-color: black;
  color: white;
  text-align: center;
  margin-left: 25rem;
  margin-right: 25rem;
  overflow: hidden;
}

#result {
  transform: translateY(100%);
  transition-duration: 9s;
}
